// Specific CSS for your home-page
// banner css goes here
.banner {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}

.banner-content h1 {
  line-height: 5rem;
}

.banner-image {
  border-radius: 8px;
}
