<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/aidpioneers/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/AidPioneers" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/aid-pioneers" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
