<div class="container">
  <h1 class="text-dark fw-bold mt-4"><%= t "thank_you" %></h1>
  <p class="fs-4"><%= t "success_description" %></p>
  <%# <img src="https://media.giphy.com/media/fxI1G5PNC5esyNlIUs/giphy.gif" alt="Thank you!"> %>
</div>
